SESSION_ID = "levanter_23ebad01462db84c09bb8cbe150f77825d"
PREFIX = .
STICKER_PACKNAME = BHACKER 💗 | SONU 💕 
ALWAYS_ONLINE = false
RMBG_KEY = null
LANGUAG = en
WARN_LIMIT = 3
FORCE_LOGOUT = false
BRAINSHOP = 159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD = 200
REJECT_CALL = false
SUDO = 919401105736
TZ = Asia/Kolkata
VPS = true
AUTO_STATUS_VIEW = false
SEND_READ = false
AJOIN = true
DISABLE_START_MESSAGE = false
PERSONAL_MESSAGE = null
